//Declare fonts
@font-face {
  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Poppins/Poppins-Regular.ttf');
}
@font-face {
  font-family: 'Poppins-SemiBold';
  font-style: normal;
  font-weight: 400;
  src: url('fonts/Poppins/Poppins-SemiBold.ttf');
}
//Declare variables
$text: #000;
$background: #FBFBFE;
$primary: #80ED99;
$secondary: #E5FBF2;
$accent: #2E9B08;

//Declare styles
body {
  font-family: 'Poppins', sans-serif;
  color: $text;
  background-color: $background;
  margin: 0;
  font-size: 18px;
  //title style
  h1, h2, h3{
      font-family: 'Poppins-SemiBold', sans-serif;
  }
  h1{
    font-size: 48px;
    color: $accent;
  }
  h2{
    font-size: 32px;
  }
  h3{
    font-size: 26px;
  }
  //Header
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    .logo img{
      height: 90px;
    }
    ul{
      display: flex;
      list-style: none;
      li{
        padding: 0 20px;
        font-family: 'Poppins-SemiBold', sans-serif;
        a{
            text-decoration: none;
            color: $text;
        }
      }
    }
  }
  //Contenu principal
  section{
    margin: 0 120px;
  }
  main{
    //Présentation
    .introduction{
      .presentation{
        display: flex;
        padding-top: 24px;
        gap: 18px;
        .present-text{
          display: flex;
          flex-direction: column;
          gap: 16px;
          justify-content: center;
          h1, h2{
            margin: 0;
          }
        }
        .present-img{
          display: flex;
          align-items: center;
          img{
            height: 300px;
          }
        }
      }
      .description p:last-child{
        font-weight: bold;
      }
    }
    //Les valeurs
    #valeurs{
      text-align: center;
      margin-top: 40px;
      .valeur{
        display: flex;
        justify-content: space-between;
        .card-valeur{
          background-color: $secondary;
          border-radius: 25px;
          box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
          width: 344px;
          padding: 12px 24px;
          h3{
            margin: 0;
          }
          p{
            margin: 8px 0;
          }
        }
      }
    }
    // Notre mission
    .mission{
      text-align: center;
      margin-top: 40px;
      p{
        font-weight: bold;
      }
    }
    //Nos engagements
    .engagements{
      text-align: center;
      margin-top: 40px;
        .engagement{
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 48px;
          padding: 0 48px;
          margin-bottom: 32px;
          .card-engagement{
            background-color: rgba(46, 155, 8, 0.7);
            border-radius: 25px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            padding: 24px 24px;
            display: flex;
            text-align: left;
            gap: 8px;
            .img-card-engagement{
              display: flex;
              align-items: center;
            }
            .text-card-engagement{
              h3{
                margin: 0;
              }
            }
          }
        }
    }
    //Notre histoire
    #histoire{
      h2{
        text-align: center;
        margin-top: 40px;
      }
      p:last-child{
        font-weight: bold;
      }
    }
    
    //Membres
    .membres{
      margin: 0;
      padding: 0 120px 48px 120px;
      background-color: $secondary;
      h2{
        text-align: center;
        padding-top: 40px;
      }
      .main-membres{
        display: flex;
        flex-direction: column;
        gap: 36px;
        .row-membres{
          display: flex;
          gap: 48px;
          .card-membre{
            background-color: $background;
            border-radius: 25px;
            box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 732px;
            padding: 36px 80px;
            p{
              margin: 8px 0;
            }
          }
        }
      }
      
    }
    //Rubrique soutien
    .soutenir{
      text-align: center;
      background-color: transparent;
      display: flex;
      flex-direction: column;
      align-items: center;
      h2{
        margin-bottom: 64px;
      }
      h3{
        margin-bottom: 0;
      }
      .soutien{
        background-image: url('media/img_background_soutien.png');
        max-width: 1131px;
        padding: 24px 12px;
        img{
          height: 300px;
          transform: scale(0.5);
        }
        h3{
          margin-bottom: 48px;
        }
        form{
          display: flex;
          justify-content: center;
          gap: 96px;
          .form-box{
            font-family: 'Poppins', sans-serif;
            font-size: 18px;
            font-style: normal;
            display: flex;
            flex-direction: column;
            text-align: left;
          }
        }
      }
    }
  }
    
  
}
